In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
df_train=pd.read_csv('data/train.csv')
df_test=pd.read_csv('data/test.csv')

In [3]:
df_test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [4]:
df_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

# show distribution of values in each columns

In [5]:
for column in df_train.columns:
    display(df_train[column].value_counts())
    display(df_train[column].value_counts())
    print()

0001_01    1
6136_01    1
6141_01    1
6139_06    1
6139_05    1
          ..
3126_01    1
3124_03    1
3124_02    1
3124_01    1
9280_02    1
Name: PassengerId, Length: 8693, dtype: int64

0001_01    1
6136_01    1
6141_01    1
6139_06    1
6139_05    1
          ..
3126_01    1
3124_03    1
3124_02    1
3124_01    1
9280_02    1
Name: PassengerId, Length: 8693, dtype: int64

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

False    5439
True     3037
Name: CryoSleep, dtype: int64

False    5439
True     3037
Name: CryoSleep, dtype: int64

G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: Cabin, Length: 6560, dtype: int64

G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: Cabin, Length: 6560, dtype: int64

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

24.0    324
18.0    320
21.0    311
19.0    293
23.0    292
       ...
72.0      4
78.0      3
79.0      3
76.0      2
77.0      2
Name: Age, Length: 80, dtype: int64

24.0    324
18.0    320
21.0    311
19.0    293
23.0    292
       ...
72.0      4
78.0      3
79.0      3
76.0      2
77.0      2
Name: Age, Length: 80, dtype: int64

False    8291
True      199
Name: VIP, dtype: int64

False    8291
True      199
Name: VIP, dtype: int64

0.0       5577
1.0        117
2.0         79
3.0         61
4.0         47
          ...
1612.0       1
2598.0       1
632.0        1
378.0        1
745.0        1
Name: RoomService, Length: 1273, dtype: int64

0.0       5577
1.0        117
2.0         79
3.0         61
4.0         47
          ...
1612.0       1
2598.0       1
632.0        1
378.0        1
745.0        1
Name: RoomService, Length: 1273, dtype: int64

0.0       5456
1.0        116
2.0         75
3.0         53
4.0         53
          ...
3846.0       1
5193.0       1
312.0        1
827.0        1
4688.0       1
Name: FoodCourt, Length: 1507, dtype: int64

0.0       5456
1.0        116
2.0         75
3.0         53
4.0         53
          ...
3846.0       1
5193.0       1
312.0        1
827.0        1
4688.0       1
Name: FoodCourt, Length: 1507, dtype: int64

0.0       5587
1.0        153
2.0         80
3.0         59
4.0         45
          ...
3627.0       1
2074.0       1
871.0        1
742.0        1
1872.0       1
Name: ShoppingMall, Length: 1115, dtype: int64

0.0       5587
1.0        153
2.0         80
3.0         59
4.0         45
          ...
3627.0       1
2074.0       1
871.0        1
742.0        1
1872.0       1
Name: ShoppingMall, Length: 1115, dtype: int64

0.0       5324
1.0        146
2.0        105
5.0         53
3.0         53
          ...
273.0        1
2581.0       1
2948.0       1
3778.0       1
1643.0       1
Name: Spa, Length: 1327, dtype: int64

0.0       5324
1.0        146
2.0        105
5.0         53
3.0         53
          ...
273.0        1
2581.0       1
2948.0       1
3778.0       1
1643.0       1
Name: Spa, Length: 1327, dtype: int64

0.0       5495
1.0        139
2.0         70
3.0         56
5.0         51
          ...
408.0        1
876.0        1
2891.0       1
2102.0       1
3235.0       1
Name: VRDeck, Length: 1306, dtype: int64

0.0       5495
1.0        139
2.0         70
3.0         56
5.0         51
          ...
408.0        1
876.0        1
2891.0       1
2102.0       1
3235.0       1
Name: VRDeck, Length: 1306, dtype: int64

Gollux Reedall        2
Elaney Webstephrey    2
Grake Porki           2
Sus Coolez            2
Apix Wala             2
                     ..
Jamela Griffy         1
Hardy Griffy          1
Salley Mckinn         1
Mall Frasp            1
Propsh Hontichre      1
Name: Name, Length: 8473, dtype: int64

Gollux Reedall        2
Elaney Webstephrey    2
Grake Porki           2
Sus Coolez            2
Apix Wala             2
                     ..
Jamela Griffy         1
Hardy Griffy          1
Salley Mckinn         1
Mall Frasp            1
Propsh Hontichre      1
Name: Name, Length: 8473, dtype: int64

True     4378
False    4315
Name: Transported, dtype: int64

True     4378
False    4315
Name: Transported, dtype: int64

### as we see above , some of the columns distributed bad, but we can see here that most of them are numeric and most used one is 0 ,  so we can fill these nulls with 0

In [6]:
df_train['VIP']=df_train['VIP'].fillna(False)
df_test['VIP']=df_test['VIP'].fillna(False)

In [7]:
df_train['RoomService']=df_train['RoomService'].fillna(0.0)
df_test['RoomService']=df_test['RoomService'].fillna(0.0)

In [8]:
df_train['FoodCourt']=df_train['FoodCourt'].fillna(0.0)
df_test['FoodCourt']=df_test['FoodCourt'].fillna(0.0)

In [9]:
df_train['ShoppingMall']=df_train['ShoppingMall'].fillna(0.0)
df_test['ShoppingMall']=df_test['ShoppingMall'].fillna(0.0)

In [10]:
df_train['Spa']=df_train['Spa'].fillna(0.0)
df_test['Spa']=df_test['Spa'].fillna(0.0)

In [11]:
df_train['VRDeck']=df_train['VRDeck'].fillna(0.0)
df_test['VRDeck']=df_test['VRDeck'].fillna(0.0)

In [12]:
df_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

In [13]:
len(df_train.dropna())/len(df_train)

0.8715058092718279

In [14]:
len(df_test.dropna())/len(df_test)

0.8765489829319617

In [15]:
df_train.HomePlanet.value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [16]:
df_train=df_train.dropna()
#df_test=df_test.dropna()

In [17]:
df_test['HomePlanet']=df_test['HomePlanet'].fillna('Earth')
df_test['CryoSleep']=df_test['CryoSleep'].fillna(False)
df_test['Cabin']=df_test['Cabin'].fillna('G/160/P')
df_test['Destination']=df_test['Destination'].fillna('TRAPPIST-1e')
df_test['Age']=df_test['Age'].fillna('28.65')

In [18]:
df_test.RoomService.value_counts()

0.0       2808
1.0         68
2.0         34
3.0         28
4.0         24
          ...
1454.0       1
6438.0       1
2647.0       1
1338.0       1
147.0        1
Name: RoomService, Length: 842, dtype: int64

In [19]:
df_test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,G/160/P,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,28.65,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,TRAPPIST-1e,28.65,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [20]:
df_train['Cabin_1']=0
df_train['Cabin_2']=0
df_train['Cabin_3']=0
for index,row in df_train.iterrows():
    tmp_cabin_list=row['Cabin'].split('/')
    df_train.at[index,'Cabin_1']=tmp_cabin_list[0]
    df_train.at[index,'Cabin_2']=tmp_cabin_list[1]
    df_train.at[index,'Cabin_3']=tmp_cabin_list[2]

In [21]:
df_test['Cabin_1']=0
df_test['Cabin_2']=0
df_test['Cabin_3']=0
for index,row in df_test.iterrows():
    tmp_cabin_list=row['Cabin'].split('/')
    df_test.at[index,'Cabin_1']=tmp_cabin_list[0]
    df_test.at[index,'Cabin_2']=tmp_cabin_list[1]
    df_test.at[index,'Cabin_3']=tmp_cabin_list[2]

In [22]:
df_train.drop(columns=['Cabin'],inplace=True)
df_test.drop(columns=['Cabin'],inplace=True)

In [23]:
df_train['VRDeck'].value_counts()

0.0       4944
1.0        124
2.0         60
3.0         50
5.0         41
          ...
598.0        1
2566.0       1
38.0         1
667.0        1
3235.0       1
Name: VRDeck, Length: 1199, dtype: int64

In [24]:
df_train.drop(columns=['Name'],inplace=True)
df_test.drop(columns=['Name'],inplace=True)

In [25]:
# Multiple categorical columns
categorical_cols = ['HomePlanet', 'CryoSleep', 'Destination', 'VIP','Cabin_1','Cabin_3']

df_train=pd.get_dummies(df_train, columns=categorical_cols).copy()
df_test=pd.get_dummies(df_test, columns=categorical_cols).copy()

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.model_selection import GridSearchCV

### For local test train the train data

In [49]:
# splitting X and y into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_train.drop(columns=['PassengerId','Transported']), df_train['Transported'], test_size=0.3, random_state=1)

In [50]:
# training the model on training set
gnb = GaussianNB()
gnb.fit(X_train, y_train)

# making predictions on the testing set
y_pred = gnb.predict(X_test)
  
# comparing actual response values (y_test) with predicted response values (y_pred)
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 77.12274527056752

# hyperparameter tuning

In [68]:
param_grid_nb = {
    'var_smoothing': np.logspace(0,-50, num=100)
}

In [69]:
nbModel_grid = GridSearchCV(estimator=GaussianNB(), param_grid=param_grid_nb, verbose=1, cv=100, n_jobs=-1)
nbModel_grid.fit(X_train, y_train)
print(nbModel_grid.best_estimator_)

Fitting 100 folds for each of 100 candidates, totalling 10000 fits
GaussianNB(var_smoothing=2.4770763559917038e-11)

In [70]:
y_pred = nbModel_grid.predict(X_test)
print(y_pred)

[False  True  True ... False False  True]

In [71]:
# comparing actual response values (y_test) with predicted response values (y_pred)
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 79.01451825780906

In [72]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred), ": is the confusion matrix")
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred), ": is the accuracy score")
from sklearn.metrics import precision_score
print(precision_score(y_test, y_pred), ": is the precision score")
from sklearn.metrics import recall_score
print(recall_score(y_test, y_pred), ": is the recall score")
from sklearn.metrics import f1_score
print(f1_score(y_test, y_pred), ": is the f1 score")

[[839 287]
 [190 957]] : is the confusion matrix
0.7901451825780906 : is the accuracy score
0.7692926045016077 : is the precision score
0.8343504795117699 : is the recall score
0.8005018820577166 : is the f1 score

# For submittion

In [73]:
param_grid_nb = {
    'var_smoothing': np.logspace(0,-50, num=100)
}
nbModel_grid = GridSearchCV(estimator=GaussianNB(), param_grid=param_grid_nb, verbose=1, cv=100, n_jobs=-1)
nbModel_grid.fit(df_train.drop(columns=['PassengerId','Transported']), df_train['Transported'])
print(nbModel_grid.best_estimator_)

Fitting 100 folds for each of 100 candidates, totalling 10000 fits
GaussianNB(var_smoothing=2.595024211399732e-09)

In [74]:
y_predict = nbModel_grid.predict(df_test.drop(columns=['PassengerId']))
print(y_predict)

[ True False  True ...  True  True  True]

In [75]:
# training the model on training set
#gnb = GaussianNB()
#gnb.fit(df_train.drop(columns=['PassengerId','Transported']), df_train['Transported'])

In [76]:
# making predictions on the testing set
#y_predict = gnb.predict(df_test.drop(columns=['PassengerId']))
#y_predict

In [77]:
df_submit=df_test[['PassengerId']].copy()
df_submit['Transported']=y_predict

In [78]:
df_submit.to_csv('data/submit_3.csv',index = False)

In [79]:
df_submit

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01         True
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]